.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 360px;
  height: 100%;
  background-color: var(--color-primary-light);
  transform: translateX(300%);
  transition: transform 0.3s;
  z-index: 2;

  &::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: '';
  }

  &::after {
    width: 240px;
    height: 280px;
    right: -50px;
    top: 250px;
    background-image: url(../images/bread-modal.png);
  }

  &.is-open {
    transform: translateX(0);
  }

  &__logo {
    width: 72px;
    height: 38px;
    margin: 16px 24px;
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    border: none;
  }

  &__list {
    margin-left: 24px;

    .item {
      font-size: 14px;
      font-weight: 300;
      padding-bottom: 8px;
      text-decoration: none;
      transition: color 0.2s;
      color: var(--color-primary-dark);
    }

    .item:hover {
      color: var(--color-brand-normal);
      font-weight: 600;
    }
  }
}
